:root {
    --second-color: #8f8f8f;
    --black-color: #1a1a1a;
    --background-color: #f0f0f0;
  }
  
  body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .login_container {
    backdrop-filter: blur(15px);
    width: 100%;
    max-width: 400px;
    padding: 50px 20px;
    border: 2px solid #008000;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    color: var(--second-color);
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .login_title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login_title span {
    color: #008000;
    font-size: 32px;
    font-weight: bold;
  }
  
  .input_wrapper {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input_field {
    width: 100%;
    max-width: calc(100% - 50px);
    font-size: 16px;
    padding: 15px 40px 15px 20px;
    border-radius: 30px;
    border: 2px solid #008000;
    background: transparent;
    color: var(--black-color);
    transition: border-color 0.3s ease;
    box-sizing: border-box;
  }
  
  .input_field:focus {
    border-color: #008000;
    outline: none;
  }
  
  .input_field:focus ~ .label,
  .input_field:valid ~ .label {
    top: -10px;
    font-size: 12px;
    background-color: #008000;
    color: white;
    padding: 0 8px;
    border-radius: 10px;
  }
  
  .label {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 16px;
    color: var(--second-color);
    transition: all 0.3s ease;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #008000;
  }
  
  .fa-eye-slash {
    left: 80%;
  }
  .fa-eye {
    left: 80%;
  }
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #008000;
    margin-top: 10px;
  }
  
  .input-submit {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #008000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .input-submit:hover {
    background-color: #008000;
  }
  
  .signup {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .signup a {
    font-weight: 600;
    color: #008000;
    text-decoration: none;
  }
  
  .signup a:hover {
    text-decoration: underline;
  }
  .forgot a {
    color: #008000;
    text-decoration: none;
  }
  .forgot a {
    text-decoration: underline;
  }
  